<div class="container" ng-controller="IndexCtrl">
  <div class="header">
    <div class="header-title">
      <p class="title">Movie.<a class="text-primary">ly</a></p>
    </div>
    <div class="row">
      <ul class="menu">
        <li ng-repeat="list in customList" ng-click="changeList(list.id)" ng-class="{'menu-active' : getClass(list.id)}">
          <a>{{list.name}}</a>
        </li>

        <li ng-show="!creatingList">
          <i ng-click="creatingList = true" class="add-button-list fa fa-plus text-success"></i>
        </li>

        <li ng-show="creatingList">
          <div class="pull-left">
            <input ng-model="listCreatingName" type="text" class="list-add-field" maxlength="15" placeholder="List name">
          </div>
          <div class="list-edit">
            <i ng-click="addList()" class="add-button-list fa fa-check text-success"></i>
            <i ng-click="cleanAddList()" class="add-button-list fa fa-ban text-danger"></i>
          </div>
        </li>

      </ul>


      <div class="search pull-right">
        <form class="navbar-form pull-left">
          <angucomplete-alt
          placeholder="Search"
          pause="400"
          remote-url="https://api.themoviedb.org/3/search/movie?api_key=146efec13c1525fecadaf47d41b250bb&query="
          remote-url-data-field="results"
          image-field=""
          title-field="original_title"
          input-changed="filterChanged"
          selected-object="filterSelected"
          input-class="form-control"
          minlength="3" >
          </angucomplete-alt>

        </form>

        <div class="dropdown options pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret" data-toggle="dropdown"></span></button>
          <ul class="dropdown-menu">
            <li><a ng-click="openListModal()" href="#">Edit lists</a></li>
            <li><%= link_to "Change password", edit_user_password_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div  ng-mouseenter="showRemove = true" ng-mouseleave="showRemove = false" ng-repeat="movie in movie_list" ng-click="ShowMovieDetail(movie.movie_id)" class="movie-block hvr-grow">
        <i ng-show="showRemove" ng-click="RemoveMovie(movie.id, $event)" class="remove-movie fa fa-times"></i>
        <img class="movie-cover" ng-src="http://image.tmdb.org/t/p/w150{{movie.poster_path}}"  />
        <p class="movie-title">{{movie.title}}</p>
        <p class="movie-subtitle">{{movie.release_date}}</p>
      </div>

    </div>
  </div>
</div>

<script type="text/ng-template" id="movie-detail.html">
  <div class="detail-content">

    <img class="movie-backdrop" ng-src="http://image.tmdb.org/t/p/w1000{{movie.backdrop_path}}"/>

    <div class="movie-cover-big">
      <img class="movie-cover" ng-src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}" />
    </div>
    <div class="movie-detail">
      <p class="detail-title">{{movie.title}}</p>
      <p class="detail-year">{{movie.release_date}}</p>
      <p class="detail-rating">{{movie.vote_average}}</p>
      <p class="detail-text">{{movie.overview}}</p>
    </div>
    <button class="btn btn-success pull-right" ng-show="movie.hasMovie != null" ng-click="AddNewMovie(movie.id)">Add</button>

  </div>
</script>

<script type="text/ng-template" id="lists-detail.html">
    <table class="table">
      <tbody>
      <tr ng-repeat="list in movie_list">
        <td class="list-name">{{ list.name }} </td>
        <td ng-show="movie_list.length >= 2" class="list-action">
          <button type="button" class="btn btn-danger btn-sm" ng-click="RemoveList(list.id)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>
      </tr>

      </tbody>
    </table>


</script>

