<div class="container" ng-controller="IndexCtrl">
  <div class="header">
    <div class="header-title">
      <p class="title">Movie.ly</p>

      <ul class="menu">


      </ul>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="search">
        <form class="navbar-form">


          <angucomplete-alt
          placeholder="Search"
          pause="400"
          remote-url="https://api.themoviedb.org/3/search/movie?api_key=146efec13c1525fecadaf47d41b250bb&query="
          remote-url-data-field="results"
          image-field=""
          title-field="original_title"
          input-changed="filterChanged"
          selected-object="filterSelected"
          input-class="form-control"
          minlength="3" >
          </angucomplete-alt>

        </form>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="movie in movie_list" ng-click="ShowMovieDetail(movie.id)" class="movie-block hvr-grow">
        <img class="movie-cover" ng-src="http://image.tmdb.org/t/p/w150{{movie.poster_path}}"  />
        <p class="movie-title">{{movie.title}}</p>
        <p class="movie-subtitle">{{movie.release_date}}</p>
      </div>

    </div>
  </div>
</div>

<script type="text/ng-template" id="movie-detail.html">
  <div class="detail-content">

    <img class="movie-backdrop" ng-src="http://image.tmdb.org/t/p/w1000{{movie.backdrop_path}}"/>

    <div class="movie-cover-big">
      <img class="movie-cover" ng-src="http://image.tmdb.org/t/p/w300{{movie.poster_path}}" />
    </div>
    <div class="movie-detail">
      <p class="detail-title">{{movie.title}}</p>
      <p class="detail-year">{{movie.release_date}}</p>
      <p class="detail-rating">{{movie.vote_average}}</p>
      <p class="detail-text">{{movie.overview}}</p>
    </div>
    <button class="btn btn-success pull-right" ng-show="movie.hasMovie != null" ng-click="AddNewMovie(movie.id)">Add</button>

  </div>
</script>

